.grid-init {
  /* max-width: 400px;  */
  height: 100vh;
  margin: auto;
  background-color: #fbfaf8;
}

.box-init {
  font-size: larger;
  color: #fff;
  border-radius: 5px;
  /* background-color: #2196f3; */
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
