* {
    width: 100vw;
    max-width: 580px;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    justify-content: center; 

  } 
  
  .grid-init {
    /* max-width: 400px;  */
    /* margin: auto;  */
    /* background-color: lightsteelblue;  */
    /* padding: 10px;  */
  }
  
  .box-init { 
    font-size: larger; 
    color: #fff; 
    /* border-radius: 5px;  */
    /* background-color: #2196f3;  */
    /* border: 1px solid black;  */
    /* padding: 10px;  */
  
    /* display: flex;  */
    /* align-items: center;  */
    /* justify-content: center;  */
  }